/* nav bar */

#navbar {
list-style: none;
padding: 8px 12px;
    
}
#navbarwhole  {
    background-color:rgba(224, 239, 222, 1);
}
#nav-item{
    color: black;
    font-size: 20px;
    font-weight: bold;
    
}
/* the hero line that says my name */

.display-4{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
   
}
/* map css details for the device size to ensure responsiveness */
@media (max-width: 768px) {
    #map {
        /* small screen */
        height: 300px
    }

    .hover-headline {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}
 #map{
    height: 500px;
    width: 100%;
} 

#mapcontainer{
    background-color:rgba(224, 239, 222, 1) ;
    height: 600px;
}
/* footer details */
.footer-homepage{
    background-color: rgba(224, 239, 222, 1);
}
/* #section2-homepage{
    background-color: rgba(224, 239, 222, 1);
} */
.rowforspace{
    height: 200px;
}
/* image container  */
.image-list-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* list of experinces */
.experiencelist a{
  
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}
.experiencelist a:hover{
    text-decoration: underline;
}
/* section css */
.section{
    display: none;
    padding: 50px 20px;

    margin: 10px 0;
}
.section-link{
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
}
/* projects page */

/* pop up text for the project page  */
#popup-text{
    display: none;
    position:absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(224, 239, 222, 1);
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    z-index: 1000;
    max-width: 90%;
    white-space: normal;

}
#popup-text2{
    display: none;
    position:absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(224, 239, 222, 1);
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    z-index: 500;
    max-width: 90%;
    white-space: normal;
}
/* the learnmore button */
.learnmorebutton{
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.learnmorebutton2{
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
/* effects on learn more button */
.learnmorebutton:hover{
    transform: scale(1.1);
} 
.learnmorebutton2:hover{
    transform: scale(1.1);
} 
/* displaying the popup text */
.row-section1-project, .row-section2-project{
    display: block;

}

.row-section1-project:hover #popup-text{
    display: grid;
}
.row-section2-project:hover #popup-text2{
    display: grid;
}
#h6label{
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
}

/* adding mobile screen responsiveness */
@media(max-width: 576px) {
    #popup-text,
    #popup-text2 {
        /* smaller text */
        font-size: 12px; 
        /* adding padding */
        padding: 15px;
        bottom: auto; 
        /* position from the top */
        top: 10%; 
        left: 50%;
        transform: translateX(-50%);
    }
    .learnmorebutton{
        font-size: 14px;
        padding: 8px 15px;
    }
    .learnmorebutton2{
        font-size: 14px;
        padding: 8px 15px;
    }
    h6#h6label{
        font-size: 10px;
    }
}

/* project1 page */
#projectpage1-section1{
    background-color: rgba(224, 239, 222, 1);
}
#goal-section{
    background-color: rgba(224, 239, 222, 1);
}
/* css for roles in project */
#rolebox{
    padding:20px;
    border: 2px dashed;
    
    background-color: rgba(224, 239, 222, 1);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    text-align: center;

}

/* timeline style */
.timeline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}


.timeline-item{
    position: relative;
    width: 25%;
    text-align: center ;
    z-index:2;
}
.timeline-item .timeline-icon{
    width: 50px;
    height:50px;
    background-color: rgba(224, 239, 222, 1);
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size:1.5rem;
    position: relative;
    z-index: 3;


}

.timeline-item .timeline-text{
    margin-top: 10px;
    font-size: 1rem;
    color: black;
}
/* deliverables box */
#deliverablesp1{
    padding:20px;
    border: 2px dashed;
    
    background-color: rgba(224, 239, 222, 1);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    text-align: center;

}
#quotebox{
   background-color: rgba(224, 239, 222, 1);
   height: 200px;
}
/* card style for the animation */
.card{
    opacity: 0;
    transform: translateY(50px);
    transition:opacity 0.5s ease, transform  0.5s ease
} 

/* project2 */
#Ideationstyle{
    text-align: center;
}
#headerproject{
    color:darkolivegreen
}
