/* 
The following css code is for the product gallery page with a few of them that applies to other pages as well
 */


.heading{
    text-align: center;
}
/* this is the cart and product normal and hover state below */
#prod{
    display: flex;
    flex-direction: column;
  

}
#prod:hover{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: yellow;
    

}
/* the main content will be enclosed in flex box  */
.maincontainer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#imgs{
    border: 2px solid;
}
/* added padding to every product */
.prod1, .prod2,.prod3,.prod4,.prod5,.prod6{
    
    padding: 5px;
    
}
 /* the hover state of every product  */
.prod1:hover, .prod2:hover,.prod3:hover, .prod4:hover,.prod5:hover,.prod6:hover{
    background-color: yellow;
    font-weight: bold;

}

/* this is for the product detail page where it aligns the items accordingly and ensures that the content is in a flex box */

.orgcr{
    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;


} 
.contentorgcr{
    display: flex;
    flex-direction: column;
    /* justify-content: center;    
    align-items: center; */

}
#addtocart:hover{
    background-color: yellow;

}

/* the following are the css related to shopping cart specific items like changing the color of the button in hover state,
 having a line at the bottom and also adding the underline and bold to the "remove" text
 */
#headerdet{
    text-align: center;
}
.contentorgcr{
    width: 200px;
    height: 300px;
}

#cost1{
    font-weight: bold;
}
#remove{
    font-weight: bold;
    font-size: smaller;
    text-decoration: underline;
}
.checkoutcartcont{
    text-align: center;

}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#checkoutline{
    width: 200px;
    
}

#checkoutbutton:hover{
    background-color: yellow;

}